
<div class="modal-header d-flex justify-content-between border-0 pb-0">
  <h6 class="modal-title">انتخاب   موقعیت جغرافیایی</h6>
  <button type="button" class="close m-0 p-0" data-dismiss="modal" (click)="dismiss()">&times;</button>

</div>
<div class="modal-body relative pt-4 row">

  <div class="map" id="map"></div>

</div>
  <div class="modal-footer ">
    <!--------دکمه تایید-->
    <div class="col-2">
      <button class="btn btn-info btn-sm me-2 text-white w-100" (click)="select()">انتخاب</button>

    </div>

  </div>
